{% extends "base.html" %}
{% block body %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-semibold">Admin Dashboard</h3>
    <a href="/admin/add" class="btn btn-dark">+ Add Card</a>
</div>

<div class="row g-4">

{% for card in cards %}
    <div class="col-md-6">
        <div class="card card-box p-3">
            <div class="d-flex justify-content-between">
                <h5 class="fw-semibold">Card #{{ card[0] }}</h5>
                <a href="/admin/delete/{{ card[0] }}" class="btn btn-sm btn-outline-danger">Delete</a>
            </div>

            <hr>

            {% if card[1] %}<div><b>Name:</b> {{ card[1] }}</div>{% endif %}
            {% if card[2] %}<div><b>Company:</b> {{ card[2] }}</div>{% endif %}
            {% if card[3] %}<div><b>Email:</b> {{ card[3] }}</div>{% endif %}
            {% if card[4] %}<div><b>Phone:</b> {{ card[4] }}</div>{% endif %}
            {% if card[5] %}<div><b>Date:</b> {{ card[5] }}</div>{% endif %}
            {% if card[6] %}<div><b>Products:</b> {{ card[6] }}</div>{% endif %}
            {% if card[7] %}<div><b>Custom:</b> {{ card[7] }}</div>{% endif %}

        </div>
    </div>
{% endfor %}

</div>

{% endblock %}
